.LandingContainer{
    width:100vw;
    height:1200px;
}

.Landing{
    height:100vh;
    background-color: white;
    z-index:10;
    position:relative;
}

.Landing p{
    z-index:10; 
    font-size: 60px;
    text-align: center;
    padding-top: 100px;
    margin:0;
    color:darkslategray;
}

.PhotoContainer {
    background-image: url('seattle6.jpg');
    height:100vh;
    width:100vw;
    background-repeat: no-repeat;
    background-size: cover;
    top:0;
    left:0;
    z-index:0;
    position:fixed;
  }
  
  .PhotoContainer::before{
    content:"";
    background-color: white;
    opacity:0;
    position:absolute;
    width:100%;
    height:100vh;
    z-index:0;
   
  }

  .Come{
      color:white;
      font-size: 60px;
      text-align: center;
      z-index:10;
      position:relative;
      height:300px;
  }
  
  .StorefrontContainer{
    background-color: white;
    height:100vh;
    width:100vw;
    z-index:10;
    position:relative;
  }
  
  .StorefrontContainer img{
    width:30%;
    margin-top:100px;
    margin-left:300px;
  }